*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: darkgrey;
}
#timer{ 
    padding: 1rem;
    background-color: aqua;
    margin: 1rem 1rem;
    border-radius: 25px;
    border: solid 2px black;
    position: absolute;
}
#highscore{
    display: inline-block;
    position: absolute;
    margin-top: 5rem;
    padding: 1rem;
    font-size: 3rem;
    background-color: beige;
    text-decoration: underline;
}
#highscore ul li{
    text-decoration: none;
    color: brown;
}
#main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    cursor: pointer;
    background-color: lightgray;
}
button:hover{
    background-color: darkgray;
}
#start-btn{
   font-size: 5rem;
   padding: 1rem;
   border-radius: 2rem;
 
}
.hide{
    display: none;
}
#q-a{
    padding: 2rem 2rem 1rem 2rem;
    background-color: beige;
    border-radius: 2rem;
    text-align: center;
}
#q-a li {
    display: flex;
    left: 0;
    list-style: none;
}
.btn{
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.25rem;
    text-align: left;
}
#next{
    margin-top: 0.75rem;
    padding: 0.75rem;
    border-radius: 1rem;
}
.correct{
    background-color: lightgreen;
}
.wrong{
    background-color: red;
}




    

